<div class="col-md-6" id="pane_left">
  <h2>Ontwikkeling</h2>
  <p>
    Deze app is ontwikkeld door de
    <a href="https://www.ru.nl/humanitieslab/technical-support-group/general/" target="_blank">Technical Support Group</a>
    van de Letterenfacultaat van de Radboud Universiteit Nijmegen.
    Wij staan u graag ten dienste met onze wetenschappelijke programmeerkennis.
    Of het nu gaat om even meekijken en adviseren bij uw eigen pogingen of het zorgen voor complexe oplossingen in uw onderzoek -
    wij willen met alle plezier helpen.
  </p>
</div>
<div class="col-md-6" id="pane_right" ">
  <h2>Technisch</h2>
  <p>
    De app is geprogrammeerd in <code>Python</code> en maakt gebruik van de 'facemorpher' code
    (Zie <a href="https://github.com/alyssaq/face_morpher">github</a>;
    <a href="http://alyssaq.github.io/mit-license/">MIT license</a>).
    Deze code gebruikt op haar beurt weer andere software, en dan met name <a href="https://pypi.org/project/opencv-python/">OpenCV</a>
    (een C++ project dat beschikbaar is gemaakt voor Python).
    De facemorpher software is aangepast om ieder gemorphed beeld op de juiste plek en met het juiste masker
    te combineren met het keizerbeeld op de achtergrond.
  </p>
</div>

