<div class="col-md-6" id="pane_left">
  <h2>Achtergrond</h2>
  <p>
    Portretten waren bij uitstek de manier voor Romeinse keizers en keizerinnen om te communiceren met hun onderdanen.
    Ze konden door middel van hun portretten op een symbolische wijze aspecten en kenmerken van hun heerschappij overbrengen.
    Verplaats je met deze test in de huid van de keizer of keizerin en bepaal wat voor soort leider jij wilt zijn.
    Met welke keizer of keizerin ‘match’ jij het beste? Of die gelijkenis ook fysiek is,
    kun je zien met behulp van een combi-portret van jou en je match.
    Deze keizerlijke selfie kun je meteen per e-mail naar jezelf toesturen!
  </p>
  <a href="https://www.ru.nl/nieuws-agenda/radboud-lustrum/radboud-invites/" target="_blank" class="pull-right">
    <img src="static/content/invites_faces.png"
         alt="De TSG"
         title="Radboud Invites"
         style="width:300px;z-index:-2" />
  </a>
</div>
<div class="col-md-6" id="pane_right">
  <h2>Bijdragen</h2>
  <p>Foto's: Carole Raddato</p>
  <p>Tekst: Sam Heijnen (Radboud University, Department of History)</p>
  <p>Project: <a href="https://www.ru.nl/constraintsandtradition">Constraints and tradition</a></p>
  <p>Webapplicatie: Erwin R. Komen (Radboud University, Faculty of Arts, TSG)</p>
</div>
