<div class="col-md-6" id="pane_left">
  <h2>Activiteiten</h2>
  <table  class="func-view">
    <thead><tr><th>Date</th><th>Site</th><th>start</th><th>quiz</th><th>choose</th><th>mix</th><th>mail</th><th>picture</th><th>manual</th></tr></thead>
    <tbody>
      @act_types@
    </tbody>
  </table>
</div>
<div class="col-md-6" id="pane_right">
  <h2>Aanmeldingen</h2>
  <table class="func-view">
    <thead><tr><th>Datum</th><th>ip</th></tr></thead>
    <tbody>
      @act_ips@
    </tbody>
  </table>
</div>
