
    <div class="jumbotron" style="max-height: 180px;">

      <!-- Large banner with the name and a button for step #1 -->
      <h1>
        <span>Keizerportret</span>
        <span class="pull-right">
          <a class="btn btn-success" href="/" title="Overnieuw">Terug</a>
          <a class="btn btn-default" 
             href="/mix"
             title="Stap 3: combineer"
             >Combineer alles</a>
        </span>
      </h1>

      <!-- Minimal explanatory text -->
      <p class="lead">
        <span>Op welke keizer lijkt u? Houd u vast, de mixer gaat werken...</span>

      </p>
    </div>

    <div class="row">
      <div class="col-md-6 bgimg">
        <h2>Uw foto</h2>
        <div name="test" id="test">
          <!-- Hier komt dan een picture?? -->
          <img src="@img_self@" alt="Geen beeld gevonden" title="Uw eigen foto" />
        </div>
      </div>
      <div class="col-md-6">
        <h2>Uw keizer</h2>
        <img src="@img_keizer@"
             alt="De TSG"
             title="Wij willen u helpen"
             style="width:500px;z-index:-2" />
      </div>
    </div>

