<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radboud Invites Faces</title>
  <link rel="stylesheet" type="text/css" href="static/content/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="static/content/site.css" />
  <script src="static/scripts/modernizr-2.6.2.js"></script>
  <script src="static/scripts/jquery-1.10.2.js"></script>
  <script src="static/scripts/bootstrap.js"></script>
  <script src="static/scripts/respond.js"></script>
  <script src="static/scripts/invites.js"></script>
  <script src="static/scripts/crpstudio.htable.js"></script>
  <script type="text/javascript">
    // What to do immediately after the whole page has been read...
    $(document).ready(function() {
      // This is where a function is sometimes put
      ru.invites.startup();
    });
  </script>
</head>
<body>
  <div id="header">
    <div class="meta container">
      <div class="row">
        <ul id="metanav" class="metanav" role="navigation">
          <li id="back_button" class="hidden back-button"><a onclick="ru.invites.my_user();" class="btn btn-xs"><< Terug</a></li>
          <li id="act_button" class="hidden"><a onclick="ru.invites.init_stage('act');">Activiteiten</a></li>
          <li><a onclick="ru.invites.init_stage('ack');">Bijdragen</a></li>
          <li><a onclick="ru.invites.init_stage('about');">Achtergrond</a></li>
          <li><a class="helplink" onclick="ru.invites.init_stage('help');"><b>?</b> Help</a></li>
          <li><a class="helplink" href="static/content/2018_MatchRomeHandleiding.pdf" target="_blank">Pdf</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
   