
    <div class="jumbotron" style="max-height: 160px;">

      <!-- Large banner with the name and a button for step #1 -->
      <h1>
        <span>Keizerportret</span>
        <span>
          <a class="btn btn-default"
             onclick="ru.invites.init_stage('start');"
             title="Overnieuw">Begin opnieuw</a>
        </span>
        <span class="pull-right">
          <a id="main_button" class="btn btn-success" picnum="1">Maak mijn portret</a>
        </span>
      </h1>

      <!-- Minimal explanatory text -->
      <p class="lead" >
        <span>Op welke keizer lijkt u?</span>
        <span id="lead_text"> Neem uw foto, en we gaan het zien...</span>

      </p>
    </div>

    <div class="row">
      <div id="py_status" class="status-table hidden"></div>
      <div id="pane_container">@post_start@</div>
    </div>

    <div id="error_messages">
      <!-- This is where error messages might show up-->
    </div>
