<h2>CALIGULA</h2>
<div class="row">
  Gaius was keizer van het Romeinse Rijk van 37 tot en met 41 na Christus. 
  Gaius staat vooral bekend onder de naam “Caligula”. 
  Dit was de bijnaam die hij kreeg omdat hij als klein kind vaak militaire laarsjes (<i>caligae</i>) droeg. 
  Caligula kwam op 25-jarige leeftijd aan de macht. Caligula staat bekend als “de krankzinnige keizer”. 
  Tijdens zijn vierjarige bewind wist hij de Senaat van Rome van zich te vervreemden en 
  zou hij een financiële crisis en hongersnood in Rome hebben ontketend. 
  Deze negatieve houding ten opzichte van Caligula vindt ook zijn weerklank in d
  e antieke bronnen die het hebben over Caligula’s uiterlijk. 
  Volgens onder andere Suetonius en Seneca was Caligula misvormd en keek 
  hij krankzinnig uit zijn ogen. Caligula zou verder erg onzeker zijn geweest over het feit 
  dat hij kaal werd. Geen van deze kenmerken zien we echter terug in zijn portretten. 
  De beschrijvingen van de antieke auteurs zijn vooral negatieve associaties die bij 
  een stereotype slechte keizer worden genoemd. De portretten van Caligula tonen een 
  charismatische jonge man met een volle haardos en met een jeugdigheid die typerend was 
  voor de Julio-Claudische dynastie waarvan Caligula deel uitmaakte. 
  Verder zijn op sommige portretten de ogen van Caligula iets naar boven gewend. 
  Op deze manier probeerde Caligula zich in lijn te plaatsen met Hellenistische heersers zoals Alexander de Grote, 
  wiens portretten ook vaak naar boven gewend waren. Of de portretten of de antieke auteurs het 
  bij het rechte eind hebben zullen we helaas nooit weten.  
</div>
<div class="row">
  <div class="col-md-6 faces"><img src="static/content/cal-1.jpg" title="Caligula" /></div>
  <div class="col-md-6 faces"><img src="static/content/cal-2.png" title="Caligula" /></div>
</div>
<div class="row quotation">Links: Portret van Caligula, hersteld in originele kleur. 
  Bron: publiek domein. Rechts: Munt met daarop het portret van Caligula, geslagen in Rome. Bron: CNG.</div>