<h2>VESPASIANUS</h2>
<div class="row">
  Vespasianus was de eerste keizer van de tweede dynastie die over het Romeinse Rijk heerste. Hij regeerde als keizer van 69 tot en met 79 na Christus. Vespasianus was een generaal met veel militaire ervaring. Toen keizer Nero in 68 na Christus overleed besloot hij een greep naar de macht te doen. Een jaar later werd hij ook officieel door de Senaat van Rome als keizer erkend. Om zich te distantiëren van Nero besloot Vespasianus zich heel anders te presenteren dan zijn omstreden voorganger. In plaats van zich knapper of jeugdiger voor te doen dan hij werkelijk was liet Vespasianus een zeer realistisch beeld van zichzelf circuleren. 
  Deze artistieke keuze wordt aangeduid met de term <i>verisme</i>. Hiermee greep Vespasianus terug op een gebruik dat zijn oorsprong kende in de Romeinse Republiek. Imperfecties en oneffenheden werden toen vaak juist aangezet om ervarenheid en militaire kunde uit te stralen. Hiermee maakte Vespasianus en later ook zijn zoon Titus bewust gebruik van traditionele beeldtaal om hun conservatieve boodschap te verkondigen. Tegelijkertijd lijkt Vespasianus zich ervan bewust te zijn geweest dat hij het risico liep om met zijn conservatieve beeldtaal de voormalige supporters van Nero van zich te ontvreemden. Kort nadat hij keizer werd liet hij daarom een twee portret maken waarin zijn gelaatstrekken zachter zijn en hij een jongere uitstraling heeft.  
</div>
<div class="row">
  <div class="col-md-6 faces"><img src="static/content/ves-1.jpg" title="Vespasianus" /></div>
  <div class="col-md-6 faces"><img src="static/content/ves-2.png" title="Vespasianus" /></div>
</div>
<div class="row quotation">Links: Gouden munt met daarop het portret van keizer Vespasianus, geslagen in Rome. 
  Bron: CNG. 
  Rechts: Het Colosseum in Rome, ook wel bekend als het Flavische amfitheater (vernoemd naar de familienaam van Vespasianus). 
  De bouw van het Colosseum begon onder keizer Vespasianus, en het gebouw werd voltooid onder zijn zoon Titus. 
  Bron: publiek domein.</div>