<h2>TITUS</h2>
<div class="row">
  Titus was de tweede keizer van de Flavische dynastie die over het Romeinse Rijk heerste. Hij was de zoon van keizer Vespasianus en de broer van Domitianus. Na slechts twee jaar te hebben geregeerd (van 79 tot en met 81 na Christus) overleed Titus aan een onbekende ziekte.
  <p>Samen met zijn vader Vespasianus was Titus verantwoordelijk voor het neerslaan van de opstand in Judea: een voor Romeinse begrippen grootste militaire overwinning. Met de oorlogsbuit voltooide Titus de bouw van het Colosseum in Rome. Het plunderen van de tempel in Jerusalem wordt getoond op een van de reliëfs op de Boog van Titus op het Romeinse forum. Deze boog werd na Titus’ dood gebouwd ter ere voor zijn overwinning door Titus’ broer en latere keizer Domitianus.</p>
  <p>Tijdens zijn leven volgde Titus de artistieke trend van zijn vader Vespasianus. In plaats van zich knapper of jeugdiger voor doen dan hij daadwerkelijk was, koos Titus voor een realistisch portret (een stijl die wordt aangeduid met de term verisme). De imperfecties en oneffenheden van het realistisch portret werden aangezet om ervarenheid en militaire kunde uit te stralen. Op deze manier probeerden zowel Vespasianus als Titus zich te distantiëren van onpopulaire keizers zoals Nero.</p>
</div>
<div class="row">
  <div class="col-md-6 faces"><img src="static/content/tit-1.png" title="Keizer Titus" /></div>
  <div class="col-md-6 faces"><img src="static/content/tit-2.png" title="Boog van Titus" /></div>
</div>
<div class="row quotation">Links: Gouden munt met daarop het portret van keizer Titus. Bron: publiek domein. Rechts: Het plunderen van de tempel van Jerusalem zoals afgebeeld op een reliëf van de Boog van Titus. Bron: publiek domein.</div>