<h2>JULIA DOMNA</h2>
<div class="row">
  Julia Domna was keizerin van Rome als vrouw van keizer Septimius Severus en als moeder van keizer Caracalla (van 193 tot en met 217 na Christus). Julia was van Syrische origine en was geboren in Emesa (het huidige Homs). Als dochter uit een invloedrijke, welvarende priesterfamilie had ze de mogelijkheid om te studeren. Julia was een slimme vrouw en werd bewonderd om haar politieke kennis. Haar huwelijk met Septimius Severus was een succes. 
  Ze vergezelde haar man vaak naar het front en verkreeg dan ook de titel “moeder van het legerkamp” (<i>mater castrorum</i>). Ze omgaf zichzelf met geleerden en filosofen en zette zich in om het intellectuele klimaat in Rome te stimuleren. Julia Domna had een imposante, uitbundige haarstijl. Deze staat in de traditie van de haarstijlen van eerdere keizerinnen (zoals Faustina de Jongere) die een vergelijkbaar kapsel hadden. Hiermee lijkt Julia Domna zich in de traditie van haar voorgangers te plaatsen. Om dit doel te verwezenlijken droeg Julia Domna waarschijnlijk een pruik, wellicht omdat haar eigen haar niet op deze wijze gemodelleerd kon worden of omdat het haar tijd en moeite bespaarde.  
</div>
<div class="row">
  <div class="col-md-6 faces"><img src="static/content/jul-1.jpg" title="Julia Domna" /></div>
  <div class="col-md-6 faces"><img src="static/content/jul-2.png" title="Faustina de Jongere" /></div>
</div>
<div class="row quotation">Links: Gouden munt met op de voorzijde Julia Domna en op de achterzijde haar twee zoons (Caracalla en Geta). Bron: CNG. 
  Rechts: portret van Faustina de Jongere, waarop Julia Domna’s kapsel is gebaseerd. Bron: © Marie-Lan Nguyen.</div>