<h2>AUGUSTUS</h2>
<div class="row">
  Gaius Octavius, beter bekend als Augustus, regeerde als eerste keizer over het Romeinse Rijk van 27 voor Christus tot en met 14 na Christus. 
  Augustus introduceerde voor Romeinse normen een compleet nieuwe stijl in zijn portretten. Waar zijn voorganger Julius Caesar een realistisch 
  beeld van zichzelf had gepresenteerd (zelfs met rimpels!) liet Augustus zichzelf zeer jeugdig afbeelden. 
  Ondanks het feit dat keizer Augustus tegen het einde van zijn regering 75 jaar was toonde het officiële staatsportret 
  de keizer nog steeds als een jonge man - zo aan het begin van zijn twintiger jaren. Dit deed hij om continuïteit en 
  voortvarendheid uit te stralen. Hiervoor vond hij inspiratie in de klassieke heroïsche beelden uit het oude Griekenland. 
  Het portret van keizer Augustus volgt in de meeste gevallen het zogenaamde Prima Porta type 
  (vernoemd naar het beroemdste beeld van de keizer uit een villa in de buurt van Rome). De haarlokken van de keizer 
  zijn nauwkeurig gemodelleerd en worden zelfs specifiek genoemd in de overgeleverde geschriften uit de oudheid. 
  Men dacht dat de haarlokken van keizer Augustus geluk uitstraalden. De verhoudingen en de zachte kleur van het gezicht 
  van de keizer zouden bovendien zijn plicht en sterke karakter hebben getoond. Verder wordt Augustus door antieke auteurs 
  zoals Suetonius beschreven als een knappe man met ogen die straalden als de zon. Het jeugdige, krachtige beeld van keizer 
  Augustus werd een belangrijk icoon en velen van zijn opvolgers lieten zich dan ook inspireren door Augustus’ portretstijl. 
</div>
<div class="row">
  <div class="col-md-6 faces"><img src="static/content/aug-1.jpg" title="Augustus" /></div>
  <div class="col-md-6 faces"><img src="static/content/aug-2.jpg" title="Augustus" /></div>
</div>
<div class="row quotation">Links: Het beroemde beeld van keizer Augustus uit de villa van Prima Porta. 
  Bron: publiek domein. Rechts: De haarlokken van keizer Augustus’ Prima Porta type. Bron: Arachne.</div>