
    <div class="jumbotron" style="max-height: 180px;">

      <!-- Large banner with the name and a button for step #1 -->
      <h1>
        <span>Keizerportret</span>
        <span class="pull-right">
          <a class="btn btn-success" href="/" title="Overnieuw">Terug</a>
          <a class="btn btn-default" 
             href="/"
             title="Terug naar het begin"
             >Begin overnieuw</a>
        </span>
      </h1>

      <!-- Minimal explanatory text -->
      <p class="lead">
        <span>Op welke keizer lijkt u? Begin overnieuw...</span>

      </p>
    </div>

    <div class="row">
      <div class="col-md-6 bgimg">
        <h2>Mixer</h2>
        <div class="slidecontainer">
          <input type="range" min="1" max="18" value="1" 
                 class="slider" 
                 oninput="ru.invites.update_mixer(this);"
                 id="slide_range" />
        </div>
        <div id="testpic"></div>
        <div class="result-pic-container">
            <img id="pic001" src="static/tmp/frame001.png" title="1/18" class="result-pic" />
            <img id="pic002" src="static/tmp/frame002.png" title="1/18" class="result-pic hidden" />
            <img id="pic003" src="static/tmp/frame003.png" title="1/18" class="result-pic hidden" />
            <img id="pic004" src="static/tmp/frame004.png" title="1/18" class="result-pic hidden" />
            <img id="pic005" src="static/tmp/frame005.png" title="1/18" class="result-pic hidden" />
            <img id="pic006" src="static/tmp/frame006.png" title="1/18" class="result-pic hidden" />
            <img id="pic007" src="static/tmp/frame007.png" title="1/18" class="result-pic hidden" />
            <img id="pic008" src="static/tmp/frame008.png" title="1/18" class="result-pic hidden" />
            <img id="pic009" src="static/tmp/frame009.png" title="1/18" class="result-pic hidden" />
            <img id="pic010" src="static/tmp/frame010.png" title="1/18" class="result-pic hidden" />
            <img id="pic011" src="static/tmp/frame011.png" title="1/18" class="result-pic hidden" />
            <img id="pic012" src="static/tmp/frame012.png" title="1/18" class="result-pic hidden" />
            <img id="pic013" src="static/tmp/frame013.png" title="1/18" class="result-pic hidden" />
            <img id="pic014" src="static/tmp/frame014.png" title="1/18" class="result-pic hidden" />
            <img id="pic015" src="static/tmp/frame015.png" title="1/18" class="result-pic hidden" />
            <img id="pic016" src="static/tmp/frame016.png" title="1/18" class="result-pic hidden" />
            <img id="pic017" src="static/tmp/frame017.png" title="1/18" class="result-pic hidden" />
            <img id="pic018" src="static/tmp/frame018.png" title="1/18" class="result-pic hidden" />
        </div>
      </div>
      <div class="col-md-6">
        <h2>Achtergrond</h2>
        <p>
          Deze app is ontwikkeld door de Technische Service Groep van de Letterenfacultaat van de Radboud Universiteit Nijmegen.
          Wij staan u graag ten dienste met onze wetenschappelijke programmeerkennis.
          Of het nu gaat om even meekijken en adviseren bij uw eigen pogingen of het zorgen voor complexe oplossingen in uw onderzoek - 
          wij willen met alle plezier helpen.
        </p>
        <img src="static/content/tree_example.png"
             alt="De TSG"
             title="Wij willen u helpen"
             style="width:500px;z-index:-2" />
      </div>
    </div>
