
    <div class="jumbotron" style="max-height: 180px;">

      <!-- Large banner with the name and a button for step #1 -->
      <h1>
        <span>Keizerportret</span>
        <span class="pull-right">
          <a class="btn btn-success" href="/" title="Overnieuw">Terug</a>
          <a id="keizerkeuze"
             class="btn btn-default hidden" 
             href="/choose"
             title="Stap 2: Neem de geselecteerde keizer"
             >Neem deze keizer</a>
        </span>
      </h1>

      <!-- Minimal explanatory text -->
      <p class="lead">
        <span>Op welke keizer lijkt u? Uw foto is er, nu nog een keizer kiezen...</span>

      </p>
    </div>

    <div class="row">
      <div class="col-md-6 bgimg">
        <h2>Uw foto</h2>
        <div name="test" id="test">
          <!-- Hier komt dan een picture?? -->
          <img src="@img_name@" alt="Geen beeld gevonden" title="Uw eigen foto" />
        </div>
      </div>
      <div class="col-md-6">
        <h2>Kies een keizer</h2>
        <table>
          <thead><tr><th>Leeftijd</th><th>Geslacht</th><th>Naam</th><th align="center">Selecteer</th></tr></thead>
          <tbody>
            @keizer_list@
          </tbody>
        </table>
      </div>
    </div>
