      <div class="col-md-6 bgimg">
        <h2>Uw foto</h2>
        <div id="user_image">
          <!-- Hier komt dan een picture?? -->
          <img src="@img_name@" alt="Geen beeld gevonden" title="Uw eigen foto" />
        </div>
      </div>
      <div class="col-md-6">
        <h2>Kies een keizer</h2>
          <table class="func-view">
            <thead>
              <tr>
                <th colspan="5">
                  <span class="func-name">Selecteer een keizer</span>
                </th>
              </tr>
            </thead>
            <tbody>
              @keizer_list@
            </tbody>
          </table>
      </div>
