      <div class="col-md-6 bgimg">
        <h2>Uw foto</h2>
        <!-- Provide a start again button -->
        <div id="startagain" class="hidden">
          <p>Uw gezicht kan <code>niet</code> herkend worden. Maak een nieuw beeld.</p>
          <a class="btn btn-danger"
             onclick="ru.invites.init_stage('start');"
             title="Overnieuw">Begin opnieuw</a>
        </div>
        <div id="py_progress" class="progress hidden">
          <div class="progress-bar progress-bar-success"
               role="progressbar" aria-valuenow="0"
               aria-valuemin="0" aria-valuemax="100" style="width:0%;">
            <!-- this is where the value comes -->
          </div>
          <div>We zijn bezig...</div>
        </div>
        <div id="user_image">
          <!-- Hier komt dan een picture?? -->
          <img src="@img_name@" alt="Geen beeld gevonden" title="Uw eigen foto" />
        </div>
      </div>
      <div class="col-md-6">
        <h2>Kies een keizer</h2>
          <table class="func-view">
            <thead>
              <tr>
                <th colspan="5">
                  <span class="func-name">Selecteer een keizer</span>
                </th>
              </tr>
            </thead>
            <tbody>
              @keizer_list@
            </tbody>
          </table>
      </div>
