
      <div class="col-md-6 bgimg">
        <h2>
          <span>Mixer</span>
        </h2>
        <div class="slidecontainer" id="slide_mixer">
          <input type="range" min="1" max="18" value="9" 
                 class="slider" 
                 oninput="ru.invites.update_mixer(this, '@session_idx@');"
                 id="slide_range" />
        </div>
        <div id="testpic"></div>
        <div class="result-pic-container" id="result_pictures">
         @results@
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <span class="pull-right collapsed" data-toggle="collapse" data-target="#mail_info">
            <a id="mailpic"
               class="btn btn-warning"
               title="Opsturen">Mail dit beeld naar...</a>
          </span>
        </div>
        <!-- Mail information becomes visible when ready -->
        <div id="mail_info" class="panel panel-default collapse">
          <form action="" method="post">
            <div class="form-group">
              <label for="input_email">Mailadres</label>
              <input type="email" class="form-control" id="input_email" area-describedby="emailHelp" placeholder="Voer hier je e-mail in" />
              <small id="emailHelp" class="form-text text-muted">We houden jouw mailadres <em>niet</em> vast hier op de server, en ook deze afbeelding niet.</small>
            </div>
            <div>
              <a role="button" 
                 class="btn btn-success" 
                 onclick="ru.invites.send_mail(this);">Versturen</a>
            </div>
          </form>
        </div>
        <div id="mail_msg"><!-- Provide a feedback message on the mail here--></div>
        <div id="result_descr">
          @resultdescr@
        </div>

        <!-- <h2>Ontwikkeling</h2>-->
        <div class="panel panel-default">
          <div class="panel-heading collapsed" data-toggle="collapse" data-target="#ontwikkeling-1">
            <span>Over deze app</span>
            <span class="pull-right" style="font-size: smaller;"><i>TSG</i></span>
          </div>
          <div class="collapse" id="ontwikkeling-1">
            <p>
              Deze app is ontwikkeld door de 
              <a href="https://www.ru.nl/humanitieslab/technical-support-group/general/" target="_blank">Technical Support Group</a> 
              van de Letterenfacultaat van de Radboud Universiteit Nijmegen.
              Wij staan u graag ten dienste met onze wetenschappelijke programmeerkennis.
              Of het nu gaat om even meekijken en adviseren bij uw eigen pogingen of het zorgen voor complexe oplossingen in uw onderzoek -
              wij willen met alle plezier helpen.
            </p>
            <p>De app is geprogrammeerd in <code>Python</code> en maakt gebruik van de 'facemorpher' code 
            (Zie <a href="https://github.com/alyssaq/face_morpher">github</a>; 
            <a href="http://alyssaq.github.io/mit-license/">MIT license</a>).
            Deze code gebruikt op haar beurt weer andere software, en dan met name <a href="https://pypi.org/project/opencv-python/">OpenCV</a>
             (een C++ project dat beschikbaar is gemaakt voor Python).
            De facemorpher software is aangepast om ieder gemorphed beeld op de juiste plek en met het juiste masker
             te combineren met het keizerbeeld op de achtergrond.
            </p>
          </div>
        </div>

      </div>
 
