
      <div class="col-md-6 bgimg">
        <h2>Mixer</h2>
        <div class="slidecontainer">
          <input type="range" min="1" max="18" value="1" 
                 class="slider" 
                 oninput="ru.invites.update_mixer(this);"
                 id="slide_range" />
        </div>
        <div id="testpic"></div>
        <div class="result-pic-container">
 
        </div>
      </div>
      <div class="col-md-6">
        <h2>Achtergrond</h2>
        <p>
          Deze app is ontwikkeld door de Technische Service Groep van de Letterenfacultaat van de Radboud Universiteit Nijmegen.
          Wij staan u graag ten dienste met onze wetenschappelijke programmeerkennis.
          Of het nu gaat om even meekijken en adviseren bij uw eigen pogingen of het zorgen voor complexe oplossingen in uw onderzoek - 
          wij willen met alle plezier helpen.
        </p>
        <img src="static/content/tree_example.png"
             alt="De TSG"
             title="Wij willen u helpen"
             style="width:500px;z-index:-2" />
      </div>
 
