
      <div class="col-md-6 bgimg">
        <h2>Mixer</h2>
        <div class="slidecontainer">
          <input type="range" min="1" max="18" value="9" 
                 class="slider" 
                 oninput="ru.invites.update_mixer(this, '@session_idx@');"
                 id="slide_range" />
        </div>
        <div id="testpic"></div>
        <div class="result-pic-container" id="result-pic">
         @results@
        </div>
      </div>
      <div class="col-md-6">
        <h2>Achtergrond</h2>
        <p>
          Deze app is ontwikkeld door de Technische Service Groep van de Letterenfacultaat van de Radboud Universiteit Nijmegen.
          Wij staan u graag ten dienste met onze wetenschappelijke programmeerkennis.
          Of het nu gaat om even meekijken en adviseren bij uw eigen pogingen of het zorgen voor complexe oplossingen in uw onderzoek - 
          wij willen met alle plezier helpen.
        </p>
        <a href="https://www.ru.nl/nieuws-agenda/radboud-lustrum/radboud-invites/">
          <img src="static/content/invites_faces.png"
               alt="De TSG"
               title="Radboud Invites"
               style="width:500px;z-index:-2" />
        </a>
      </div>
 
